page-compraenlinea {
    .fondocompralinea{
        background: rgb(243, 243, 243);

    }
    .bordes{
        border-radius: 8px;
        margin-bottom:22px; 
    }
    .button-md{
        text-transform: none;
    }
    .marquilla{
       
        border-radius: 18px;
        background: #353c48;
        top: 10px;
        margin: 10px;
        padding: 5px;
        color: white;
    }
    .color{
        color:#6FBBF9 !important;
    }
    .gris{
        color: rgb(32, 31, 31);
        font-weight: bold;
    }
    .contador{
        margin: 0px;
        
        background: white;
        color: gray;
    }
    .item-md.item-block .item-inner{
        border: 0px;
    }
    .scroll-content{
padding-top: 0px !important;
    }

    .label-md{
        margin: 33px 8px 13px 0 !important;
    }
}
