page-contrasena {

    .fondocontrasena{
background: rgba(243, 243, 243, 0.938);
    }

    .color{
        color:#6FBBF9 !important;
    }

    .btncancelar{
        background: white;
        color: #6FBBF9;
        border: 2px solid #6FBBF9;
    }
}
