page-recarga {

    .fondorecarga{
        background: rgba(243, 243, 243, 0.938);

    }
    .bordes{
        border-radius: 8px;
        margin-bottom:22px; 
    }
    .button-md{
        text-transform: none;
    }
}
