
<ion-menu [content]="content" type="overlay"  persistent="true"  side="left" ng-controller="RightController">
    
    <ion-header>
      <!-- AQUI ESTA LA CONFIGURACIÓN DEL MENÚ-->
      <ion-toolbar>
        <div no-lines>
          <ion-avatar item-center class="center" style="width:40%">
            <br>
            <ion-item class="centrar">
              <ion-avatar>
                <ion-text-avatar  class="avatarletra">{{letras}}</ion-text-avatar>
              </ion-avatar>   
            </ion-item>
                  <!-- <img  src="https://img.icons8.com/ultraviolet/120/000000/user.png" style="color:white;display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;"> -->
          </ion-avatar>
          
           <h1 style="text-align:center;color:rgb(46, 43, 43);" >{{nombre}}</h1>
            
        </div>
      </ion-toolbar>
        
    </ion-header>
    <!--Ciclo de dinamico de paginas  -->
    <ion-content class="menucolor">
      <ion-list no-lines>
        <div *ngIf="logeado">
            <button ion-item *ngFor="let p of pages" (click)="openPage(p)" >
                <ion-icon name="{{p.icon}}"> {{p.title}}</ion-icon>  
          
    
        </button>
        </div>
      </ion-list>
    </ion-content>
    
    </ion-menu>
    
    <ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
