<!--
  Generated template for the PromocionesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>Destacados</ion-title>
    <!-- <ion-buttons right>
        
        <ion-icon style="font-size: 31px;" md="md-search"></ion-icon>
    </ion-buttons> -->
  </ion-navbar>
</ion-header>

<ion-content class="fondo-app" padding>
<div *ngFor="let datos1 of datos.data">
  <div class="promocion overlay"  >
      <img src={{datos1.img}} style="width:100%; height: 200px; border-radius: 12px;">
      <div class="card-title-promocion">{{datos1.titulo | titlecase}}</div>
      <div class="card-subtitle-promocion"> {{ datos1.descripcion | slice:0:50}}...</div>
      <div class="card-subsubtitle-promocion">
        <button ion-button style="border-radius: 5px;" (click)="detallepromociones(datos1.id);">Ver Mas</button>
      </div>
  </div>
</div>
<div *ngFor="let datos of datos.data2">
  <div  class="promocion overlay">
        <img src={{datos.img_destacada}} style="width:100%; height: 200px; border-radius: 12px;">
        <div class="card-title-promocion">{{datos.nombre  | titlecase}}</div>
        <div class="card-subtitle-promocion">{{ datos.terminos_condiciones | slice:0:50}}...</div>
        <div class="card-subsubtitle-promocion">
          <button ion-button style="border-radius: 5px;" (click)="presentModal2(datos.id);">Ver Mas</button>
        </div>
    </div> 
</div>
</ion-content>
